
h1{
    text-align: center;
}
h3{
    text-align: center;
}
body{
    text-shadow: 0 0 #0a0202, 0 0 10px #7c6107;
    color: brown;
background-color: burlywood;
}
div{
    font-size: x-large;
    margin: 30px;
}